<%= render :partial =>'widgets/links' %>
<h2>Dentist List</h2>
<% @dentists.each do |dentist| %>
    <p><%=dentist.name%> Created on: <%=dentist.nice_date %></p> 
<% end %>
<%= link_to "New Dentist","/dentists/new" %>